/* ////////////////////////////////////-------------------I. UTILITIES (DÙNG CHUNG)------------------////////////////////////////// */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  color: white;
  max-width: 1680px;
  margin: auto;
  font-size: 16px;
  font-family: "Bitter", serif;
  font-family: "Shippori Mincho B1", serif;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: #0088c6;

  /* font-family: "MBCorpo Text", 'DaimlerCS-Regular', Helvetica,Arial,sans-serif; */
}

/* ///////////////// 0.1 font-size & line-height */
.size-28 {
  font-size: 28px;
}

.size-22 {
  font-size: 22px;
}

.size-20 {
  font-size: 20px;
}

.size-18 {
  font-size: 18px;
}

.size-16 {
  font-size: 16px;
}

.size-14 {
  font-size: 14px;
}

.line-height-23 {
  line-height: 23px;
}

/* ///////////////// 0.2 position  */
.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.b-15 {
  bottom: -15%;
}

.b-30 {
  bottom: -30%;
}

.l-0 {
  left: 0;
}

.m-min {
  margin: 1px;
}

/* ///////////////// 0.3 background  */
.bg-back {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ///////////////// 0.4 image  */
.object-fit-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

/* ////////////////////////////////////--------------------II. INDIVIDUALS (RIÊNG)------------------////////////////////////////// */

/* ---------------------------------------- 1. NGỌC DUY ----------------------------------------*/

/*---------------------- 2.1 HEADER -------------------- */

header {
  max-width: 1440px;
  margin: 0 auto;
}
.header_top {
  font-size: 12px;
}
.header_top i {
  padding: 5px;
  border: 1px white solid;
  font-size: x-small;
  line-height: 5px;
}
.header_top a:hover i {
  border: 1px #0088c6 solid;
}

/* ------------responsive headertop */
@media screen and (max-width: 767px) {
  #showModal {
    margin-right: 0 !important;
  }
  #showModal span {
    display: none;
  }
}
/* Modal body*/
@media screen and (max-width: 1024px) {
  #Modal--nav > div {
    flex-direction: column;
  }
}

#Modal--nav a {
  color: #000;
}
#Modal--nav a.active {
  color: #00adef;
}
#Modal-navtabContent {
  color: #000;
}

.navbar-toggler-icon:hover {
  color: #00adef!important;
}

/* End Modal body*/

/* ------------responsive headertop end*/
/* NAVBAR */
/* thêm sticky */
/* .navbar {
  position: sticky;
} */
.navbar-brand img:first-child {
  position: relative;
  bottom: 20px;
}
.navbar-brand img:last-child {
  margin-bottom: 10px;
  margin-left: 1rem;
}

.navbar-nav--mr a {
  margin-right: 1rem;
}

.search-icon:hover {
  cursor: pointer;
}

.navlink-search {
  display: none;
}

/* NAVI END */
/* Vehicle content CSS */
.arrow_vehicle {
  font-size: xx-large;
}
.vehicle_container {
  height: 500px;
}
@media screen and (max-width: 575px) {
  .vehicle_container {
    height: fit-content;
  }
  .Vehicle_prev,
  .Vehicle_next {
    display: none;
  }
  /* .tab-content {
    padding: 50px;
  } */
}
.Vehicle_indi {
  bottom: -50px;
}
.Vehicle_indi li {
  background-color: #000000;
  height: 3px;
  margin-top: 2.5rem;
  width: 5%;
}

.Vehicle_inner h1 {
  font-size: medium;
  margin-top: 1rem;
}
.Vehicle_prev,
.Vehicle_next {
  height: 275px;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 1200px) {
  .Vehicle_prev,
  .Vehicle_next {
    height: 320px;
  }
  .navlink-search {
    display: block;
  }

  .navbar-nav-responsive {
  height: 87vh;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  }

  .search-icon-responsive{
    position: absolute;
    right: 4.5rem;
    top: 1rem;
  }

}
@media screen and (max-width: 990px) {
  .Vehicle_prev,
  .Vehicle_next {
    height: 275px;
  }
}
@media screen and (max-width: 660px) {
  .Vehicle_prev,
  .Vehicle_next {
    height: 240px;
  }
}
.Vehicle_next {
  justify-content: flex-start;
}
/* Vehicle CSS End */
/*---------------------- 2.2 Carousel -------------------- */
.carousel--overflow {
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .carousel--overflow {
    height: 400px;
  }
  .control_edit {
    top: 110px;
    align-items: baseline;
  }

  .search-icon-responsive{
    top: 0.7rem;
  }
}
@media screen and (max-width: 600px) {
  .control_edit {
    top: 85px;
  }
}
@media screen and (max-width: 475px) {
  .control_edit {
    top: 60px;
  }
}

.carousel-caption--position {
  text-align: left;
  right: 10;
  bottom: 50%;
  left: 10%;
  height: 45%;
}
/* CArousel END */

.carousel-caption--position h1 {
  font-size: 3rem;
  font-weight: normal;
  animation: CarouselCaption 1s 1;
  width: 62%;
}
.carousel-caption--position button {
  border-radius: 0%;
  border: black 1px solid;
  padding: 0.5rem;
  /* width: 15%; */
  animation: CarouselCaption 2s 1;
}

.btn-custom {
  background-color: #333;
}

.btn-custom:hover {
  background-color: #000;
}
/* Carousel-Animation */
.Carousel .carousel-item.active h1 {
  transform: translateY(20px);
  transition: all 1.5s;
}
.carousel-item.active .carousel-caption--position button {
  transform: translateY(25px);
  transition: all 2s;
}

@keyframes CarouselCaption {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Carousel-Animation end */

/*---------------------- 2.3 SEARCH -------------------- */
.Search .search--container {
  background: #141414;
}
.Search .search--container .search__input,
.search__btn {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  background: rgb(255, 255, 255);
}
.search--container .search__btn:focus {
  box-shadow: none;
}
.search--container .search__input:focus {
  border: white 1px solid;
}
/* SEARCH END */

/*---------------------- 2.4 WELCOME -------------------- */

.Welcome {
  padding: 50px 0;
  font-size: 14px;
}
.Welcome__text {
  width: 70%;
}
.Welcome__text h1 {
  font-size: 34px;
  margin-bottom: 1.5rem;
}
.Welcome__text .mbusa {
  color: #0088c6;
}
.Welcome__text .mbusa:hover {
  text-decoration: underline;
}
.Welcome__text .btn--BringMe {
  border: none;
  border-radius: 0;
}

.color-different {
  background-color: #00adef;
}

.color-different:hover {
  background-color: #0088c6;
}

/*---------------------- 2.5 Channel -------------------- */

.Channel__col {
  flex: 25%;
  padding: 0.5rem;
}
.line {
  position: relative;
  overflow: hidden;
}
.line::before {
  content: "";
  width: 100%;
  height: 6px;
  background: #00adef;
  position: absolute;
  bottom: -8px;
  transition: all 0.5s;
}

.Channel__col:hover {
  cursor: pointer;
}

.Channel__col:hover .line::before {
  bottom: 0px;
}

@media screen and (max-width: 767px) {
  .Channel__col {
    flex: 50%;
  }
}

.SideNav {
  transition: all 1s;
}

/*---------------------- 2.6 RightSide Nav -------------------- */
/* test */
.dropdown-menu {
  background-color: #1e1e1e;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu a:hover i {
  color: #00adef;
  background-color: #1e1e1e !important;
}
@media screen and (max-width: 767px) {
  .dropdown-menu {
    right: 0px !important;
  }
}
@media screen and (max-width: 475px) {
  .dropdown-menu {
    transform: translate3d(0px, -148px, 0px) !important ;
  }
}
@media screen and (max-width: 375px) {
  .dropdown-menu {
    padding-right: 40px !important;
  }
}
@media screen and (max-width: 320px) {
  .dropdown-menu {
    padding-right: 60px !important;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 425px) {
  .dropdown-menu {
    padding-right: 22px;
  }
}

@media screen and (min-width: 769px) {
  #btnShare {
    display: flex;
  }
  .dropdown-menu {
    display: flex;
    left: 70px;
    bottom: 0px !important;

    border: none;
  }
  .dropdown-menu a {
    padding: 0;
  }

  /* test */
  .SideNav {
    position: fixed;
    right: 0px;
    z-index: 1000;
    top: 18rem;
    width: 250px;
  }

  .wrapper-sidebar {
    width: 100%;
    height: 100%;
  }

  .side-item-1 {
    left: 200px;
    top: 0;
  }

  .side-item-2 {
    left: 200px;
    top: 47px;
  }

  .side-item-3 {
    left: 200px;
    top: 94px;
  }

  .btn-sidebar-custom {
    background-color: #1f1f1f;
    border: none;
    outline: none;
    border-radius: 0;
  }

  .border-top-left-radius {
    border-top-left-radius: 3px;
  }

  .border-bottom-left-radius {
    border-bottom-left-radius: 3px;
  }

  .Side__item {
    width: 45px;
    height: 45px;
    margin-left: auto;
    transition: all 0.5s;
    margin: 0.1rem 0;
    width: 250px;
    position: absolute;
    z-index: 10000000;
  }

  .Side__item:hover {
    left: 0;
  }

  .Side__item .Side__share {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
  }

  .Side__item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .Side__item a i,
  .Side__item button i {
    font-size: 1.5rem;
    width: 3rem;
    text-align: left;
  }
}

/*---------------------------------------- 2. HUỲNH QUÍ ----------------------------------------*/

/*---------------------- 2.1 gird -------------------- */
/* 2.1.1 nav-tabs */
.gird .nav-tabs .nav-link {
  border: none;
  transition: all 0.5s;
}

.gird .nav-tabs .nav-link:hover {
  border: none;
  color: #00adef !important;
}
.gird .nav-tabs .nav-link.active {
  background-color: unset;
  border: none;
  color: #00adef !important;
  border-bottom: 1px solid #00adef;
}

/* 2.1.2 tab-content */
.gird .gird__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gird__item.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gird__item.item-2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.gird__item.item-3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.gird__item.item-10 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}

.gird__item.item-19 {
  grid-column: 1 / span 2;
  grid-row: 9 / span 2;
}

.gird__item.item-28 {
  grid-column: 1 / span 2;
  grid-row: 13 / span 2;
}

.gird__item .overlay h4 {
  text-overflow: ellipsis;
  height: 24px;
  overflow: hidden;
  transition: all 3s;
}

.gird__item .overlay p {
  opacity: 0;
  transition: all 1.5s;
}

.gird__item .overlay {
  transition: all 0.6s;
}

.gird__item:hover {
  cursor: pointer;
}

.gird__item:hover .overlay {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.gird__item:hover .overlay p {
  opacity: 1;
}

.gird__item:hover .overlay h4 {
  height: unset;
  overflow: unset;
  text-overflow: unset;
}

.showMoreNew,
.showMore-popular,
.showMore-videos {
  outline: none !important;
  border: 1px solid #202020;
  background: linear-gradient(#303030, #202020);
  color: #999;
  font-weight: 300;
  transition: all 0.5s;
}

.showMoreNew:hover,
.showMore-popular:hover,
.showMore-videos:hover {
  color: #fff;
  cursor: pointer;
}

/*---------------------- 2.2 footer -------------------- */

.border-color {
  border-color: #303030 !important;
}
footer a {
  transition: all 0.3s linear;
}

footer a:hover {
  color: #00adef !important;
}

footer img {
  transition: all 0.5s linear;
}

footer img:hover {
  transform: scale(1.1);
}

footer .top {
  transition: all 0.5s;
}

footer .top:hover {
  color: #00adef;
  cursor: pointer;
}

/* ////////////////////////////////////--------------------III. RESPONSIVE------------------////////////////////////////// */

@media screen and (max-width: 1279px) {
  .gird .gird__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gird .gird__item {
    grid-column: unset;
    grid-row: unset;
  }

  .gird__item .overlay {
    height: 50% !important;
    bottom: -28%;
  }

  .gird__item:hover .overlay {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  footer .stay-informed p {
    width: 100% !important;
  }
}

@media screen and (max-width: 1139px) {
  footer .responsive {
    flex-flow: wrap;
  }

  footer .language-res-1 {
    border: none !important;
  }

  footer .language-res-2 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  footer .more {
    flex-flow: column;
  }

  footer .more .col-3 {
    max-width: unset;
  }

  footer .brand-name img {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .gird .gird__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .gird .gird__item {
    grid-column: unset;
    grid-row: unset;
  }

  .gird__item .overlay p {
    display: none;
  }

  .gird__item .overlay {
    height: 50px !important;
    bottom: 0;
    background-color: #000;
  }

  .gird__item:hover .overlay {
    height: 50px !important;
    bottom: 0;
    background-color: #000;
  }

  .gird__item .overlay h4 {
    text-overflow: unset;
    height: unset;
    overflow: unset;
    font-size: 16px;
  }

  footer .brand-name {
    flex-flow: column;
    align-items: center;
  }

  footer .brand-name .col-4 {
    max-width: unset;
  }

  footer .brand-name img {
    padding-bottom: 30px;
  }

  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  /* navBar & carousel */
  .navbar-brand img:first-child {
    height: 54px;
    width: 54px;
  }
  .navbar-brand img:last-child {
    height: 23px;
    width: 91px;
  }

  .carousel-caption--position {
    background-color: white;
    color: #333;
    width: 100%;
    bottom: -90px;
    left: 0;
    padding: 1rem 3rem;
    height: 50%;
  }
  .carousel-caption--position h1 {
    font-size: 2rem;
    width: 100%;
  }
  .carousel-caption--position button {
    width: 25%;
  }
  .Carousel {
    height: 400px;
  }
  .Carousel .carousel-item.active h1 {
    transform: translateY(10px);
    transition: all 1.5s;
  }
  .carousel-item.active .carousel-caption--position button {
    transform: translateY(15px);
    transition: all 2s;
  }

  /* welcome */

  .Welcome__text {
    width: 100%;
  }
  .Welcome__text h1 {
    font-size: 1.85714rem;
    line-height: 2.28571rem;
    margin-bottom: 1.5rem;
  }
  .btn--BringMe {
    display: block;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  /* SideNav */
  .SideNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    /* justify-content: flex-end; */
    height: 60px;
    background: #000;
  }

  .wrapper-sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Side__item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Side__item a {
    width: 100%;
    text-align: center;
    border: none;
  }
  .Side__item span {
    display: block;
  }
  .Side__item button {
    height: 100%;
    padding: 10px 0;
    text-align: center !important;
  }
  .Side__item button span {
    width: 100%;
  }
  .Side__share {
    height: 165px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #343a40;
    transition: all 0.5s;
  }
  .Side__share a {
    text-align: center;
  }
  .Side__item button:hover .Side__share {
    transform: translateY(-200px);
    visibility: visible;
  }
}

@media screen and (max-width: 632px) {
  footer .footer-bottom-res {
    flex-flow: column;
    align-items: center;
  }

  footer .language-res-1 {
    border-right: 1px solid #fff !important;
  }

  footer .language-res-2 {
    padding-left: 8px !important;
  }
}

@media screen and (max-width: 327px) {
  .gird .nav .nav-item {
    margin-right: 1rem !important;
  }
}

@media screen and (max-width: 653px) {
  .carousel-caption--position {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 530px) {
  .carousel-caption--position {
    height: 65%;
  }

  .carousel-caption--position h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Search {
    margin-top: 0;
  }
}

@media screen and (max-width: 625px) {
  /* Carousel*/

  .carousel-caption--position {
    width: 100%;
    left: 0;
    padding: 1rem 3rem;
  }
  .carousel-caption--position h1 {
    font-size: 1.5rem;
  }
  .carousel-caption--position button {
    padding: 0.4rem;
    width: 35%;
  }
  .Carousel {
    height: 296px;
  }

  .Search {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .carousel-caption--position {
    height: 70%;
    bottom: -5rem;
  }

  .carousel-caption--position {
    height: 80%;
    bottom: -5rem;
  }
}

@media screen and (max-width: 375px) {
  .carousel-caption--position button {
    padding: 0.3rem;
    width: 45%;
  }
  .carousel-caption--position {
    bottom: -110px;
    padding: 1rem;
  }
  .carousel-caption--position h1 {
    font-size: 1.3rem;
    margin: 0;
  }
  .Carousel {
    height: 246px;
  }
}

/* /////////////RESPONSIVE FIX BUG */

@media screen and (min-width: 769px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    width: unset;
  }

  .Search .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 468px) {
  footer .brand-name img {
    width: 50% !important;
  }
}

@media screen and (max-width: 380px) {
  .SideNav span {
    font-size: 0.5rem;
  }

  .Side__item a {
    height: 100%;
  }

  .Side__item button .Side__share {
    padding-top: 1rem;
  }

  .Side__item button .Side__share i {
    font-size: 1.2rem;
  }
}


@media screen and (width:768px){
  .dropdown-menu.show {
    width: 100%;
  }
}

@media screen and (width:1024px){
  .dropdown-menu.show {
    display: flex;
    transform: unset!important;
    right: 0!important;
    left: unset!important;
  }
}


.dropdown-item:focus, 
.dropdown-item:hover {
  background-color: unset!important;
}
