/* ////////////////////////////////////--------------------I. UTILITIES (DÙNG CHUNG)------------------////////////////////////////// */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}
body {
  background-color: #000;
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* font-family: "MBCorpo Text", 'DaimlerCS-Regular', Helvetica,Arial,sans-serif; */
}


/* ///////////////// 0.1 font-size & line-height */
.size-28 {
  font-size: 28px;
}

.size-22 {
  font-size: 22px;
}

.size-20 {
  font-size: 20px;
}

.size-18 {
  font-size: 18px;
}

.size-16 {
  font-size: 16px;
}

.size-14 {
  font-size: 14px;
}

.line-height-23 {
  line-height: 23px
}

/* ///////////////// 0.2 position  */
.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}

.b-15 {
  bottom: -15%;
}

.b-30 {
  bottom: -30%;
}

.l-0 {
  left: 0;
}

.m-min {
  margin: 1px;
}



/* ///////////////// 0.3 background  */
.bg-back {
  background-color: rgba(0, 0, 0, 0.4);

}



/* ///////////////// 0.4 image  */
.object-fit-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}


/* ////////////////////////////////////--------------------II. INDIVIDUALS (RIÊNG)------------------////////////////////////////// */


/* ---------------------------------------- 1. NGỌC DUY ----------------------------------------*/






















/*---------------------------------------- 2. HUỲNH QUÍ ----------------------------------------*/

/*---------------------- 2.1 gird -------------------- */
/* 2.1.1 nav-tabs */
.gird .nav-tabs .nav-link {
  border: none;
  transition: all .5s;
}

.gird .nav-tabs .nav-link:hover {
  border: none;
  color: #00adef!important;
}
.gird .nav-tabs .nav-link.active {
  background-color: unset;
  border: none;
  color: #00adef!important;
  border-bottom: 1px solid #00adef;
}


/* 2.1.2 tab-content */
.gird .gird__list{
  display: grid;
  grid-template-columns: repeat(1 3fr);
}

.gird__item.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1/ span 2;
}

.gird__item.item-2 {
  grid-column: 3 / span 1;
  grid-row: 1/ span 1;
}

.gird__item.item-3 {
  grid-column: 3 / span 1;
  grid-row: 2/ span 1;
}

.gird__item.item-10 {
  grid-column: 1 / span 2;
  grid-row: 5/ span 2;
}

.gird__item.item-19 {
  grid-column: 1 / span 2;
  grid-row: 9/ span 2;
}

.gird__item.item-28 {
  grid-column: 1 / span 2;
  grid-row: 13/ span 2;
}


.gird__item .overlay h4 {
  text-overflow: ellipsis;
  height: 24px;
  overflow: hidden;
  transition: all 3s;
}

.gird__item .overlay p {
  opacity: 0;
  transition: all 1.5s;
}

.gird__item .overlay {
  transition: all .6s;
}

.gird__item:hover {
  cursor: pointer;
}

.gird__item:hover .overlay {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.gird__item:hover .overlay p {
  opacity: 1;
}

.gird__item:hover .overlay h4 {
  height: unset;
  overflow: unset;
  text-overflow: unset;
}

.showMoreNew, .showMore-popular, .showMore-videos {
  outline: none!important;
  border: 1px solid #202020;
  background: linear-gradient(#303030,#202020);
  color: #999;
  font-weight: 300;
  transition: all .5s;
}

.showMoreNew:hover, .showMore-popular:hover, .showMore-videos:hover {
  color: #fff;
  cursor: pointer;
}

/*---------------------- 2.2 footer -------------------- */

.border-color {
  border-color: #303030!important;
}
footer a {
  transition: all .3s linear;
}

footer a:hover {
  color: #00adef!important;
}

footer img {
  transition: all .5s linear;
}

footer img:hover {
  transform: scale(1.1);
}

footer .top {
  transition: all .5s;
}

footer .top:hover {
  color: #00adef;
  cursor: pointer;
}